.div-hidden {
	display: none;
}
.div-show:hover .div-hidden {
	display: block;
}
a:hover, a:focus, a:active {
	text-decoration: none;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
	list-style-type: none;
}
#modalWating {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
    url('public/admin/img/loading-spinner-blue.gif')
    50% 50%
    no-repeat;
}

